.Logo{
	background: url('../../public/img/logo-color.png') no-repeat;
	width: 131px;
	height: 84px;
	display: block;
	text-indent: -9999px;

	&--white{
		background-image: url('../../public/img/logo-white.png');
	}
}