.SocialMenu{

	margin: 0;
	padding: 0;
	text-align: right;

	&__item{
		display: inline-block;
		margin: 0 10px;
	}

	&__link{
		opacity: .5;
		color: $color-concrete;

		&:hover{
			opacity: 1;
		}
	}
}