.Heading-1{}

.Heading-2{
	font-size: 28px;
	font-weight: 400;
	color: $color-heading;
	text-transform: uppercase;
}

.Heading-3{
	font-size: 22px;
	font-weight: 400;
	color: $color-heading;
}

.Heading--white{
	color: white;
}

.Paragraph{
	color: $color-body;
	line-height: 26px;
}
