$break-desktop: 64em;
$break-mobile: 40em;

$color-background: #fff;
$color-heading: #303030;
$color-body: #aaa;
$color-primary: #f37248;
$color-blue-light: #293641;
$color-blue-dark: #212c36;
$color-concrete: #fbfbfb;

$font-family: 'Lato', sans-serif;